<<<<<<< HEAD
/* CSS Document */

.txt2{
	padding-left:100px;
	padding-right:100px; 
	padding-top:30px;
	padding-bottom:30px; 
	font-size:18px; 
	font-family:"隶书";
	line-height:30px;
	text-indent:30px;
}

.txt_img{
	width:55px;
	height:33px;
}

.txt_img:active{
	width:550px;
	height:330px;
}
.txt_img{
	}




.txt_img_right{
	float:right;
	padding:10px;
	width:300px;
	height:200px;
}

.txt_img_left{
	padding:10px;
	width:300px;
	height:200px;
	float:left;
}

.txt1{
	line-height:30px;
	padding-left:20px;
	padding-right:20px;
	text-indent:30px;
	font-size:18px;
}

.daohan{
	background-color:#00F;
	height:70px;
=======
@charset "utf-8";
.daohan {
	background-color:#00F;
>>>>>>> d6efc380c3a55ba50ae66068361470ba4d31aee0
}

.daohan_txt{
	font-size:24px;
	font-family:"微软雅黑";
<<<<<<< HEAD
	font-weight:bold;
	color:#FC0;
	background-color:#00F;
	margin-left:18px;
	margin-right:18px;
	text-decoration:none;
}
.daohan_txt:hover{
	background-color:#09F;
	color:#FF0;
=======
	color:#FC0;
	text-decoration:none;
	background-color:00F;
	margin-left:20px;
	margin-right:20px;
}

.daohan_txt:hover{
	color:#FF0;
	background-color:#09F;
>>>>>>> d6efc380c3a55ba50ae66068361470ba4d31aee0
}
